* {
    margin: 0;
    padding: 0;
}

:root {
    --min-color: #c0392b;
    --sec-color: #d3d3d3;
    --thr-color: white;

}

.page,
.logo,
nav,
.content,
.hed-page,
header,
.last-content,
.befor-footer,
.seacend-content,
.top-footer,
footer,
span {
    display: flex;
}

body {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    width: 100%;
    height: 10%;
}

.logo {
    font-family: 'Staatliches', cursive;
    font-weight: 700px;
    font-size: 30px;
    letter-spacing: 5px;
    color: #c0392b;
    padding: 10px;
    width: 10%;
}

.logo:hover {
    color: white;
}

nav {
    width: 90%;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

nav a {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 10px;
    color: #c0392b;
    text-transform: capitalize;
}

h3,
h4,
h6,
h2 {
    color: var(--min-color);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;

}

h5 {
    color: var(--thr-color);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;

}

p {
    font-family: 'Encode Sans', sans-serif;
    color: var(--sec-color);
}

nav a:hover {
    text-decoration: none;
    color: white;
}

.hed-page {
    align-items: center;
    flex-direction: column;
}

.content {
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 80%;

}

.hed-page {
    width: 100%;
}

.content .hed-page img {
    max-width: 300px;
    object-fit: cover;
}

.seacend-content {
    width: 100%;
    margin-top: 10.5%;
    align-items: center;
    flex-wrap: wrap;
}

.one,
.two,
.theree,
.four {
    width: 45%;
    margin: 0 2%;
    align-items: center;
    text-align: center;
    padding: 20px;
}

i {
    font-size: 50px;
    color: var(--min-color);
}

.last-content {
    margin: 5%;
}

.box-img {
    width: 50%;
}

.box-img img {
    width: 70%;
    object-fit: cover;
}

.box-text {
    width: 50%;
    text-align: center;
}

.box-text a {
    color: #d3d3d3;
    letter-spacing: 4px;
    font-size: 20px;
    text-decoration: wavy;

}

.box-text a:hover {
    color: #c0392b;
    text-decoration: none;
}

.befor-footer {
    margin: 15% 5%;

}

.box-one {
    padding: 20px;
    border: 2px solid var(--sec-color);
    border-radius: 20px;
    margin: 1%;
}

.box-one img {
    width: 90px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #d3d3d3;
    border-radius: 50%;

}

.top-footer {
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: 4px solid var(--min-color);
    border-radius: 30px;
    margin: 0 20%;
    padding: 10px;


}

span {
    margin-top: 5%;
    border-bottom: 3px solid #c0392b;
    width: 100%;
}

footer {
    justify-content: space-between;
    list-style-type: none;
    margin: 10% 5%;
    padding: 15px;
    align-items: flex-start;
    text-align: center;

}

footer i {
    font-size: 20px;
}

footer a {
    color: #d3d3d3;
}

footer a:hover {
    color: #c0392b;
}

.title-four {
    color: var(--sec-color);
    font-size: 15px;
    text-align: start;
}

.icon i {
    color: #d3d3d3;
    font-size: medium;
    padding: 10px;
    border-radius: 50%;
}

.icon .if {
    color: #0072ff;
    border-top: 2px solid white;
    border-left: 2px solid #0072ff;
    border-right: 2px solid white;
    border-bottom: 2px solid #0072ff;
}

.icon .in {
    color: #fd1d1d;
    border: 2px solid #fd1d1d;

}

.icon .tw {
    color: #1c92d2;
    border-top: 2px solid white;
    border-left: 2px solid #1c92d2;
    border-right: 2px solid white;
    border-bottom: 2px solid #1c92d2;

}

.title-one {
    font-size: small;
}

.inp {
    border: 2px solid transparent;
    width: 50%;
    border-radius: 15px
}

.bttn {
    border-radius: 14px;
    width: 190px;
    border: 2px solid transparent;
    height: 30px;
}

.title-two .cal {
    transform: rotate(-28deg);
}